.navbar {
    background-color: #21222c;
}
.navbar-brand {
    color: #fff;
}
.navbar-brand img {
    margin-right: 1rem;
}
.navbar-toggler-icon {
    color: #fff;
}
.nav-link{
    color: #959ec9 !important;
    transition: color 0.2s linear;
}
.nav-link:hover {
    text-decoration: none;
    color: #dba50e !important;
}