<footer class="page-footer pt-4">
  <div class="container text-center text-md-left py-3">
    <div class="row">
      <div class="col-12 mt-md-0 mt-3 text-center">
        <h2 class="text-uppercase">Исходники</h2>
        <p>Весь код проекта лежит <a href="https://github.com/Aventhor/Web-Full-Stack">ТУТ</a></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">  
    <div class="container">
      <div class="row">
        <div class="col-12 text-center py-3">Created by
          <a href="/"> Aventhor</a>
        </div>
      </div>
    </div>
  </div>
</footer>