<div class="container">
  <div class="row">
    <h1 class="text-uppercase"><hr>Новые книги</h1>
    <div class="shelf col-12 d-lg-flex">
      <div *ngFor="let book of books" class="col-12 col-md-6 col-lg-3 book-summary">
        <a routerLink="/books/{{book.id}}">
          <div class="text-center align-bottom">
            <figure><img src="{{book.img}}"></figure>
            <a routerLink="/books/{{book.id}}"><h2>{{book.name}}</h2></a>
            <h3>{{book.author}}</h3>
          </div>
        </a>
      </div>
    </div>
    <h1 class="text-uppercase mt-5"><hr>Случайные</h1>
    <div class="col-12 px-0 d-lg-flex">
      <div *ngFor="let book of rBooks" class="col-12 col-md-6 col-lg-3 book-summary">
        <a routerLink="/books/{{book.id}}">
          <div class="text-center align-bottom">
            <figure><img src="{{book.img}}"></figure>
            <a routerLink="/books/{{book.id}}"><h2>{{book.name}}</h2></a>
            <h3>{{book.author}}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>