<div class="container">
  <div class="row">
    <h1 class="text-uppercase"><hr>Лучшие книги за месяц</h1>
    <div class="shelf col-12">
      <div *ngFor="let book of books" class="col-3 book-summary">
        <a routerLink="/books/{{book.id}}">
          <div class="text-center">
            <img src="https://images.penguinrandomhouse.com/cover/9780307806581" class="w-50">
            <a routerLink="/books/{{book.id}}"><h2>{{book.name}}</h2></a>
            <h3>{{book.author}}</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
