.shelf {
    background-color: #21222c;
    border-radius: 15px;
    padding: 0;
}
.book-summary {
    border-radius: 15px;
    padding: 1rem 0;
    display: inline-block;
    transition: 0.2s linear;
}
.book-summary:hover {
    background-color: #323241;
}
.book-summary:hover > a h2 {
    color: #dba50e;
}
.book-summary:hover > a img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
figure {
    overflow: hidden;
    margin: 1rem auto;
    border-radius: 5px;
}
.book-summary img {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
hr {
    width: 0.2rem;
    height: 30px;
    background-color: #dba50e;
    float: left;
    margin-right: 1rem;
    margin-top: 0;
    border-radius: 0.5rem;
}
@media screen and (max-device-width: 540px) {
    img {
        width: 140px;
        height: 220px;
    }
    figure {
        width: 140px;
        height: 220px;
    }
}
@media screen and (min-device-width: 541px) {
    img {
        width: 180px;
        height: 270px;
    }
    igure {
        width: 180px;
        height: 270px;
    }
}
@media screen and (min-device-width: 1140px) {
    img {
        width: 150px;
        height: 230px;
    }
    figure {
        width: 150px;
        height: 230px;
    }
}

