.book-control {
    margin: 2rem 0;
    padding: 1rem 1rem;
    border-radius: 15px;
    background-color: #21222c;
}
button {
    margin: 0 0.3rem;
    
}
.book-control h2 {
    margin: 0;
    padding: 0.4rem 0;
}
#add {
    border: 0.1rem solid #dba50e; 
}
#item:hover > .book-control {
    background-color: #323241;
}
#item:hover > .book-control button {
    padding: 0.4rem 1.5rem;
}
p {
    margin: 0.5rem 0;
    color: #959ec9;
}
hr {
    width: 0.2rem;
    height: 30px;
    background-color: #dba50e;
    float: left;
    margin-right: 1rem;
    margin-top: 0;
    border-radius: 0.5rem;
}