<div class="container">
  <div class="row">
    <div class="col-lg-7 col-12 mx-auto my-4">
      <h1 class="text-center">Список книг</h1>
      <div class="book-control text-center" id="add">
          <a routerLink="new"><button class="btn">Добавить</button></a>
      </div>
      <div class="book-control" *ngFor="let book of books">
        <form class="form-inline my-2 my-lg-0">
          <h2>{{book.name}}</h2>
          <a class="ml-auto" routerLink="/panel/edit/{{book.id}}"><button class="btn">Изменить</button></a>
        </form>
      </div>
    </div>
  </div>
</div>
