@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,500,700&subset=cyrillic-ext');

body {
    background-color: #282a36;
    font-family: "Comfortaa";
    color: #fff;
    margin-top: 5rem;
}
p {
    font-size: 16px;
    line-height: 1.5;
}
h1 {
    font-size: 30px;
    margin: 0.5rem 0;
    padding: 0.2rem 0rem; 
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 18px;
    color: #fff;
}
a {
    color: #959ec9;
    transition: 0.2s;
}
a:hover {
    text-decoration: none;
    color: #dba50e;
}
button, .btn {
    background-color: #dba50e;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition: 0.2s linear;
    padding: 0.4rem 1rem;
}
button:hover, .btn:hover {
    background-color: rgb(173, 128, 2);
    color: #fff;
}